/* Created by: MariaG
 * Modified by: Santiago Hewett
 * Created on: March 2023
 * This CSS file defines the style for index.php
 * ICS2O-Unit3-03-PHP-VolumeSphere
*/

form {
  background-color: #73f7ee;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h1 { 
  background-color: #616bff;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h3 {
  background-color: #57f4ab;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

p {
  width: 80%;
  margin-left: 10%;
}

iframe {
  margin-bottom: 5%;
  background-color: #ff007b;
	padding: 20px;
  width: 80%;
  margin-left: 10%;
	margin-top: 15px;
}

#yellow {
  background-color: #6793f9;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}